
* {
    min-width: 0px;
    min-height: 0px;
}

.darkmuted {
    /* Background and foreground */
    --b0: hsl(215, 25%, 8%);
    --b1: hsl(215, 25%, 12%);
    --b2: hsl(215, 25%, 16%);
    --b3: hsl(215, 25%, 20%);
    --b4: hsl(215, 25%, 30%);
    --b5: hsl(215, 25%, 40%);
    --f4: hsl(215, 25%, 55%);
    --f3: hsl(215, 25%, 70%);
    --f2: hsl(215, 25%, 85%);
    --f1: white;
}
.btn, .textbox {
    border-radius: 8px;
}
.btn.iconOnly .icon {
    margin: 0px;
}
.btn:focus-visible {
    outline: 2px solid var(--f2);
}
.textbox,
.textbox.textarea > textarea {
    padding: 0px 12px;
    padding-top: 2px;
}
.textbox.textarea {
    padding: 8px 0px;
}
.popup {
    border-radius: 16px;
}
.context {
    border-radius: 12px;
    padding: 4px;
    gap: 4px;
}
.context > .item {
    border-radius: 8px;
}
label.selectOption input[type="radio"],
label.selectOption input[type="checkbox"] {
    margin-top: -0.05em;
}
.tooltip {
    /* padding: 6px 12px; */
    padding: 8px 12px 5px 12px;
    border-radius: 8px;
}
.toastOverlay > .toast > .body {
    /* padding: 15px 5px; */
    padding-top: 18px;
}
.popup > .body {
    padding-top: 5px;
}
body {
    --fontDefault: 'Comfortaa';
}

#main {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#navbar {
    padding: 8px 16px;
    border-bottom: 1px solid var(--b3);
}

#fileHeader .icon {
    font-family: 'Material Symbols Filled Rounded';
    font-size: 28px;
    color: var(--f3);
    user-select: none;
}

#fileHeader .path {
    font-size: 14px;
    color: var(--f4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#fileHeader .name {
    font-size: 18px;
    color: var(--f1);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#controls {
    padding: 8px 16px;
    border: 1px solid var(--b3);
    border-width: 0px 0px 1px 0px;
    overflow-x: auto;
    overflow-y: hidden;
}
#controls::-webkit-scrollbar {
    height: 3px;
    background: transparent;
}
#controls::-webkit-scrollbar-thumb {
    background: var(--b4);
}
#controls::-webkit-scrollbar-thumb:hover {
    background: var(--b5);
}
#controls .sep {
    width: 1px;
    height: 20px;
    margin: 0px 5px;
    background-color: var(--b3);
}
#controls .selectOption {
    font-size: 14px;
    color: var(--f2);
    margin-top: 5px;
}
#controls .selectOption input {
    font-size: 28px;
}

#fileColHeadings {
    padding: 10px 24px 6px 24px;
    font-weight: bold;
    color: var(--b5);
    font-size: 14px;
    user-select: none;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}
#fileColHeadings.tiles {
    display: none;
}
#files {
    overflow-x: hidden;
    overflow-y: auto;
    height: 0px;
    padding: 4px;
    padding-top: 2px;
    scrollbar-gutter: stable;
}
#files:not(.tiles) > .heading {
    display: none;
}
#files.tiles > .heading {
    display: block;
    padding: 12px 20px 4px 20px;
    font-weight: bold;
    color: var(--b5);
    font-size: 14px;
    user-select: none;
    flex-shrink: 0;
}
#files > .section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;
}
#files.tiles > .section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.fileEntry {
    height: auto;
    padding: 6px 20px 5px 20px;
    justify-content: flex-start;
    --bg: transparent;
    --fg: var(--f2);
    --bgHover: var(--b2);
    --bgActive: var(--b3);
    font-weight: normal;
    text-align: left;
    gap: 10px;
}
.fileEntry.search {
    padding-top: 9px;
    padding-bottom: 7px;
}
.fileEntry.search .nameCont .path {
    margin-bottom: -2px;
}
#files.tiles .fileEntry {
    height: auto;
    padding-top: 11px;
    padding-bottom: 9px;
    gap: 12px;
}
#files:not(.showHidden) .fileEntry.hidden {
    display: none;
}
.fileEntry > .icon {
    color: var(--f3);
    font-family: 'Material Symbols Filled Rounded';
}
#files.tiles .fileEntry > .icon {
    font-size: 32px;
}
.fileEntry > .nameCont {
    gap: 4px;
}
.fileEntry > .nameCont .name {
    color: var(--f1);
}
.fileEntry > .nameCont .lower {
    display: none;
    font-size: 14px;
    color: var(--f3);
}
#files.tiles .fileEntry > .nameCont .lower {
    display: block;
}
.fileEntry * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#files.tiles .fileEntry > :not(.icon):not(.nameCont) {
    display: none;
}
.fileEntry > .date,
#fileColHeadings > .date {
    width: 150px;
}
.fileEntry > .size,
#fileColHeadings > .size {
    width: 100px;
}
.fileEntry > .perms,
#fileColHeadings > .perms {
    width: 100px;
}
.fileEntry.selected {
    --bg: var(--blue0);
    --fg: var(--f1);
    --bgHover: var(--blue1);
    --bgActive: var(--blue2);
}
.fileEntry.selected > .icon,
.fileEntry.selected > .nameCont .lower {
    color: var(--f1);
}
.fileEntry.hidden:not(.selected) > * {
    opacity: 0.5;
}
.fileEntry.cut:not(.selected) {
    opacity: 0.5;
}

.permsMatrix .header,
.permsMatrix .cell {
    width: 70px;
    height: 40px;
}
.permsMatrix .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.permsMatrix .header {
    font-size: 14px;
    color: var(--f3);
    display: flex;
}
.permsMatrix .header.top {
    height: 20px;
    text-align: center;
    justify-content: center;
    padding-bottom: 3px;
}
.permsMatrix .header.left {
    width: 50px;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

#preview {
    overflow: auto;
}
#preview.image,
#preview.video {
    background: black;
}
#preview.audio {
    padding: 10px;
}
#preview.image {
    justify-content: initial;
    align-items: initial;
    cursor: grab;
}
#preview img {
    flex-shrink: 0;
    margin: auto;
}
#preview video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#preview audio {
    width: 500px;
}
#preview .CodeMirror {
    width: 1200px;
    height: 100%;
    border: none;
    border-left: 1px solid var(--b2);
    border-right: 1px solid var(--b2);
}
#preview.markdown .rendered {
    width: 1200px;
    padding: 20px;
    margin: auto;
}

#progressBar {
    border-radius: 0px;
    margin: 0px;
    height: 3px;
    display: none;
}
#progressBar.visible {
    display: block;
}

#statusBar {
    padding: 8px 10px 6px 10px;
    font-size: 15px;
    color: var(--f4);
    border-top: 1px solid var(--b3);
    line-height: 1.2;
}
#statusBar.error {
    color: var(--red2);
}

#connectionManager .entry > .icon {
    font-family: 'Material Symbols Outlined Rounded';
    font-size: 32px;
    color: var(--f3);
    user-select: none;
}
#connectionManager .entry > .row {
    gap: 8px 20px;
}

.moveFilesPicker .folders {
    border-radius: 12px;
    padding: 4px;
    gap: 2px;
    border: 1px solid var(--b3);
    height: 300px;
    overflow-y: auto;
}

/* 540px */
@media (max-width: 640px) {
    .atLeast640px {
        display: none;
    }
}
@media (min-width: 641px) {
    .atMost640px {
        display: none;
    }
}
/* 800px */
@media (max-width: 800px) {
    .atLeast800px {
        display: none;
    }
}
@media (min-width: 801px) {
    .atMost800px {
        display: none;
    }
}
/* 1000px */
@media (max-width: 1000px) {
    .atLeast1000px {
        display: none;
    }
}
@media (min-width: 1001px) {
    .atMost1000px {
        display: none;
    }
}